<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnanMidtermExam</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<style>
*{
	box-sizing: border-box;
	padding: 20px;
}

</style>
<body>
<div class="container">
		<div class="row"><p class="bg-danger text-light" style="text-align: left">Manuel S. Enverga University Foundation<br>Lucena City, Philippines</div>
        <div class="row">
            <div class="col">
					<h2 class="fs-28 text-danger">Welcome to myMSEUF Portal!</h2>
					<h4 class="fs-10 text-danger">Please select User Type</h4>
                <div class="d-grid gap-2">
                    <button class="btn btn-danger" type="button">Admission</button>
					<button class="btn btn-danger" type="button"> Online Payment (Exclusive for payments thru Dragonpay)</button>
					<button class="btn btn-danger" type="button">Basic Education (K to 10)</button>
					<button class="btn btn-danger" type="button">Senior High</button>
                    <button class="btn btn-danger" type="button">College/Graduate School/ETEEAP/Law</button>
					<button class="btn btn-danger" type="button">Faculty/Employee</button>
					<button class="btn btn-danger" type="button">Candelaria - Student Information System</button>
                  </div>
            </div>
            <div class="col-6 col-md-4"><p class="fs-6 text-dark"> Book your appointment<br><br>
														The university encourages you to do all transactions online. However, if you need to visit the campus, please set your appointment at http://bookmseuf.setmore.com.<br><br>
														Enrollment Schedule<br><br>
														
														May 31 to June 11,2022 Summer Term 2022
														<br>College/Graduate School/Law<br>
			</p></div>
        </div>
        <div class="row"><h6 class="bg-danger text-light" style="text-align: right">System Development Team. Information and Communications Technology Department
														<br>Manuel S. Enverga University Foundation</h6></div>

    </div>


</body>
</html>